*, *:after, *:before {
	box-sizing: border-box;
}

body {
	background: #2850a8;
	display: flex;
	justify-content: center;
	font-family: Arial;
}

.search-form {
	margin-top: 50px;
	background: #ccc;
	width: 500px;
}

.search-form > * {
	width: 100%;
}

.search {
	padding: 15px;
}

.suggestions {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

.suggestions li {
	padding: 15px 30px 15px 15px;
	float: left;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	width: 100%;
}

.name {
	float: left;
}

.population {
	float: right;
}

.hl {
	background: rgba(40, 80, 168, 0.8);
}